

<!-- Intro text -->
<div
  data-controller="fade-scroll"
  class="mt-[160px] flex flex-col justify-center my-8 items-center text-center
         mx-4 md:mx-52 opacity-0 translate-y-4 transition-all duration-[1500ms]"
>
  <h2 class="italic">
    Chaque villa a été conçue comme une œuvre architecturale d'exception,
    alliant avec élégance le minimalisme contemporain aux subtilités
    des influences traditionnelles marocaines.
  </h2>
</div>





<!-- Secondary text -->

<!-- 2nd carousel -->
<% images = [
  "Chambre-01_1.png","Chambre-01_2.png","Chambre-01.png",
  "Suite-01_1.png","Suite-01_2.png","Suite-01.png",
  "Suite-02_1.png","Suite-02_2.png","Suite-03_1.png",
  "Suite-03_2.png","Suite-04.png","Salon-01.png",
  "Salon-01_1.png","Salon-01_2.png","Salon-02_3.png",
  "Salon-03_3.png","Salon-03.png","Sam-01_1.png",
  "Sam-01.png","Sam-02_1.png","Sam-02.png"
] %>

<div data-controller="carousel" class="relative w-full mx-auto py-10">
  <div class="absolute bottom-0 left-2 right-2 md:left-10 md:right-10 h-3/4 bg-nude"></div>

  <div class="flex items-center justify-center relative z-10">
    <button data-action="click->carousel#prev" class="flex-shrink-0 p-2 hover:opacity-80 transition">
      <%= image_tag "arrow-left-bis.svg", alt: "Précédent", class: "w-[70px] md:w-[125px]" %>
    </button>

    <div class="relative overflow-hidden flex-shrink-0
                w-[350px] md:w-[950px] h-[200px] md:h-[528px]">
      <% images.each_with_index do |image, index| %>
        <div data-carousel-target="slide" class="slide absolute inset-0"
             style="transform: translateX(<%= index * 100 %>%);">
          <div data-parallax-scroll-carousel-target="image"
               class="w-full h-full will-change-transform overflow-hidden">
            <%= image_tag image,
                  class: "w-full h-full object-cover drop-shadow",
                  loading: "eager",
                  decoding: "sync",
                  fetchpriority: "high" %>
          </div>
        </div>
      <% end %>
    </div>

    <button data-action="click->carousel#next" class="flex-shrink-0 p-2 hover:opacity-80 transition">
      <%= image_tag "arrow-right-bis.svg", alt: "Suivant", class: "w-[70px] md:w-[125px]" %>
    </button>
  </div>
</div>

<!-- Decorative diagonal text -->
<div class="my-8 md:my-16 relative mx-10">
  <%= image_tag "diagonale.png", alt: "Image salon villa marrakech" %>
  <div class="md:absolute md:w-[775px] md:top-[80px] md:right-[40px]">
    <p data-controller="fade-scroll"
       class="text-justify bg-white bg-opacity-65 p-8 opacity-0 translate-y-4 transition-all duration-[1500ms]">
      L'architecture, marquée par des lignes épurées et modernes, fait appel
      à des matériaux nobles et locaux tels que le tadelakt, le zellige et
      le bois, conférant à chaque espace une atmosphère à la fois chaleureuse
      et sophistiquée.
    </p>
  </div>
</div>
<div class="mt-16 mb-8 mx-4 md:mx-0">
  <h2 class="text-center">
    NOS VILLAS
  </h2>

  <div data-controller="modal">
    <!-- Section d’arrière-plan -->
    <div class="relative h-[650px] overflow-hidden mt-8">
      <div
        class="absolute inset-0 md:bg-fixed bg-center bg-cover"
        style="background-image: url('<%= asset_path 'Salon-02_3.png' %>');"
      ></div>
    </div>

    <!-- Texte et bouton qui ouvre le modal -->
    <div class="md:mx-60 mx-8 md:-mt-16 -mt-8">
      <p class="relative text-center bg-white z-30 py-12 md:px-12 text-main">
        <span class="font-playfair text-ocre text-2xl">Villa JENNAH</span> <br><br>
        Incarnation du luxe sans compromis ; vastes pièces de réception
        baignées de lumière, suites panoramiques et piscine privée. <br><br>
        Superficies terrains : 721m2 à 1158m2 <br>
        Superficie construite : 530m2 <br><br>
        <button
          type="button"
          data-action="click->modal#open"
          class="text-main font-montserrat border-t-[0.75px] border-t-main text-center my-4 text-lg"
        >
          Découvrir JENNAH
        </button>
      </p>
      <br>
    </div>

    <!-- Modal (initialement caché via .hidden) -->
    <div
      data-modal-target="modal"
      class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden z-40"
    >
      <div class="bg-white p-4 rounded-lg relative">
        <!-- Fermer -->
        <button
          data-action="click->modal#close"
          class="absolute top-0 right-0 m-2 text-main text-2xl"
        >&times;</button>

        <!-- Carousel d’images -->
        <div data-modal-target="carousel" class="carousel pt-6 md:pt-0">
          <%= image_tag "JENNAH RDC.png",      class: "w-[450px] md:w-[500px] md:mx-8" %>
          <%= image_tag "JENNAH ETAGE.png",    class: "w-[450px] md:w-[500px] md:mx-8" %>
          <%= image_tag "JENNAH  ROOFTOP.png",  class: "w-[450px] md:w-[500px] md:mx-8" %>
        </div>

        <!-- Navigation -->
        <div class="flex justify-between mt-4">
          <button data-action="click->modal#prev" class="px-4 py-2 bg-ocre rounded text-white">
            Précédent
          </button>
          <button data-action="click->modal#next" class="px-4 py-2 bg-ocre rounded text-white">
            Suivant
          </button>
        </div>
      </div>
    </div>
  </div>

  <div data-controller="modal">
    <!-- Section d’arrière-plan -->
    <div class="relative h-[650px] overflow-hidden mt-8">
      <div
        class="absolute inset-0 md:bg-fixed bg-center bg-cover"
        style="background-image: url('<%= asset_path 'Salon-01_2.png' %>');"
      ></div>
    </div>

    <!-- Texte et bouton qui ouvre le modal -->
    <div class="mx-8 md:mx-60 -mt-8 md:-mt-16">
      <p class="relative text-center bg-white z-30 py-12 md:px-12 text-main">
          <span class="font-playfair text-ocre text-2xl">Villa NOOR</span> <br><br>
          Personnalisation totale des volumes & finitions pour répondre aux exigences les plus élevées. <br><br><br>
          Superficies terrains : 856m2 à 1810m2 <br>
          Superficie construite : 522m2<br>
        <button
          type="button"
          data-action="click->modal#open"
          class="text-main font-montserrat border-t-[0.75px] border-t-main text-center my-4 text-lg"
        >
          Découvrir NOOR
        </button>
      </p>
      <br>
    </div>

    <!-- Modal (initialement caché via .hidden) -->
    <div
      data-modal-target="modal"
      class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden z-40"
    >
      <div class="bg-white p-4 rounded-lg relative">
        <!-- Fermer -->
        <button
          data-action="click->modal#close"
          class="absolute top-0 right-0 m-2 text-main text-2xl"
        >&times;</button>

        <!-- Carousel d’images -->
        <div data-modal-target="carousel" class="carousel pt-6 md:pt-0">
          <%= image_tag "NOOR RDC.png",      class: "w-[450px] md:w-[500px] md:mx-8" %>
          <%= image_tag "NOOR  ETAGE.png",    class: "w-[450px] md:w-[500px] md:mx-8" %>
          <%= image_tag "NOOR ROOF.png",  class: "w-[450px] md:w-[500px] md:mx-8" %>
        </div>

        <!-- Navigation -->
        <div class="flex justify-between mt-4">
          <button data-action="click->modal#prev" class="px-4 py-2 bg-ocre rounded text-white">
            Précédent
          </button>
          <button data-action="click->modal#next" class="px-4 py-2 bg-ocre rounded text-white">
            Suivant
          </button>
        </div>
      </div>
    </div>
  </div>
   <div data-controller="modal">
    <!-- Section d’arrière-plan -->
    <div class="relative h-[650px] overflow-hidden mt-8">
      <div
        class="absolute inset-0 md:bg-fixed bg-center bg-cover"
        style="background-image: url('<%= asset_path 'Sam-02_1.png' %>');"
      ></div>
    </div>

    <!-- Texte et bouton qui ouvre le modal -->
    <div class="mx-8 md:mx-60 -mt-8 md:-mt-16">
      <p class="relative text-center bg-white z-30 py-12 md:px-12 text-main">
          <span class="font-playfair text-ocre text-2xl">Villa AYLA</span> <br><br>
          Harmonie parfaite entre volumes généreux et fonctionnalité ; idéale pour les grandes familles. <br><br><br>
          Superficies terrains : 502m2 à 752m2 <br>
          Superficie construite : 446m2<br>
        <button
          type="button"
          data-action="click->modal#open"
          class="text-main font-montserrat border-t-[0.75px] border-t-main text-center my-4 text-lg"
        >
          Découvrir AYLA
        </button>
      </p>
      <br>
    </div>

    <!-- Modal (initialement caché via .hidden) -->
    <div
      data-modal-target="modal"
      class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden z-40"
    >
      <div class="bg-white p-4 rounded-lg relative">
        <!-- Fermer -->
        <button
          data-action="click->modal#close"
          class="absolute top-0 right-0 m-2 text-main text-2xl"
        >&times;</button>

        <!-- Carousel d’images -->
        <div data-modal-target="carousel" class="carousel pt-6 md:pt-0">
          <%= image_tag "AYLA RDC.png",      class: "w-[450px] md:w-[500px] md:mx-8" %>
          <%= image_tag "AYLA ETAGE.png",    class: "w-[450px] md:w-[500px] md:mx-8" %>
          <%= image_tag "AYLA ROOF.png",  class: "w-[450px] md:w-[500px] md:mx-8" %>
        </div>

        <!-- Navigation -->
        <div class="flex justify-between mt-4">
          <button data-action="click->modal#prev" class="px-4 py-2 bg-ocre rounded text-white">
            Précédent
          </button>
          <button data-action="click->modal#next" class="px-4 py-2 bg-ocre rounded text-white">
            Suivant
          </button>
        </div>
      </div>
    </div>
  </div>
     <div data-controller="modal">
    <!-- Section d’arrière-plan -->
    <div class="relative h-[650px] overflow-hidden mt-8">
      <div
        class="absolute inset-0 md:bg-fixed bg-center bg-cover"
        style="background-image: url('<%= asset_path 'Suite-03_2.png' %>');"
      ></div>
    </div>

    <!-- Texte et bouton qui ouvre le modal -->
    <div class="md:mx-60 mx-8 md:-mt-16 -mt-8">
      <p class="relative text-center bg-white z-30 py-12 md:px-12 text-main">
          Villa LYNE <br><br>
          Format compact et raffiné ; plusieurs suites, circulation intérieur/extérieur fluide. <br><br><br>
          Superficies terrains : 396m2 à 442m2 <br>
          Superficie construite : 375m2<br>
        <button
          type="button"
          data-action="click->modal#open"
          class="text-main font-montserrat border-t-[0.75px] border-t-main text-center my-4 text-lg"
        >
          Découvrir LYNE
        </button>
      </p>
      <br>
    </div>

    <!-- Modal (initialement caché via .hidden) -->
    <div
      data-modal-target="modal"
      class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden z-40"
    >
      <div class="bg-white p-4 rounded-lg relative">
        <!-- Fermer -->
        <button
          data-action="click->modal#close"
          class="absolute top-0 right-0 m-2 text-main text-2xl"
        >&times;</button>

        <!-- Carousel d’images -->
        <div data-modal-target="carousel" class="carousel pt-6 md:pt-0">
          <%= image_tag "ZAYN RDC.png",      class: "w-[450px] md:w-[500px] md:mx-8" %>
          <%= image_tag "ZAYN ETAGE.png",    class: "w-[450px] md:w-[500px] md:mx-8" %>
          <%= image_tag "ZAYN ROOF.png",  class: "w-[450px] md:w-[500px] md:mx-8" %>
        </div>

        <!-- Navigation -->
        <div class="flex justify-between mt-4">
          <button data-action="click->modal#prev" class="px-4 py-2 bg-ocre rounded text-white">
            Précédent
          </button>
          <button data-action="click->modal#next" class="px-4 py-2 bg-ocre rounded text-white">
            Suivant
          </button>
        </div>
      </div>
    </div>
  </div>



</div>


<div data-controller="modal fade-scroll" class="my-8 md:mb-0 md:mt-12 flex flex-col md:flex-row justify-center items-center opacity-0 translate-y-4 transition-all duration-[1500ms]">
  <%= image_tag "Rooftop-02.png", alt: "photo rooftop Villa Botanik Garden 2", class:"w-[570px] dropshadow" %>
  <div class="md:w-[500px] md:px-4 mx-8 md:ml-4 text-center">
    <!-- Bouton d'ouverture du modal -->
    <button data-action="click->modal#open" class="text-white bg-ocre rounded-3xl px-4 py-2 text-2xl font-playfair">
      Télécharger notre brochure
    </button>
  </div>

  <!-- Modal caché par défaut -->
  <div data-modal-target="modal" class="hidden fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-6 rounded-lg relative w-full max-w-lg">
      <!-- Bouton de fermeture -->
      <button data-action="click->modal#close" class="absolute top-2 right-2 text-gray-500 text-2xl">&times;</button>
      <h2 class="text-2xl mb-4 text-center font-nimbus text-ocre">Télécharger la brochure</h2>
      
      <!-- Formulaire de contact -->
      <%= form_with url: brochure_path, method: :post, local: true, html: { target: "download_iframe" } do |form| %>
        <div class="mb-4">
          <%= form.text_field :name, class: "w-full border-b-2 border-perse px-2 py-1 focus:outline-none text-perse", required: true, placeholder: "Nom" %>
        </div>
        <div class="mb-4">
          <%= form.email_field :email, class: "w-full border-b-2 border-perse px-2 py-1 focus:outline-none text-perse", required: true, placeholder: "Email" %>
        </div>
        <div class="mb-4">
          <%= form.telephone_field :phone, class: "w-full border-b-2 border-perse px-2 py-1 focus:outline-none text-perse", required: true, placeholder: "Téléphone" %>
        </div>
        <div class="mb-4">
          <!-- Intégration du widget Google reCAPTCHA -->
          <%= recaptcha_tags %>
        </div>
        <div class="flex justify-center">
          <%= form.submit "Télécharger la brochure", class: "bg-ocre text-white px-4 py-2 rounded-full font-nimbus" %>
        </div>
      <% end %>

    </div>
  </div>

</div>

<iframe name="download_iframe" style="display: none;"></iframe>